<form class="" action="/posts/new">
  <input type="submit" name="new post" value="New post">
</form>
<h2>Top trending</h2>
<ol>
	<li>1. Trees that grow out of soil</li>
	<li>2. Fire that consumes the world</li>
</ol>
